@import 'reset.css';
body {
	font-family: Tahoma, Verdana, Sans-serif;
	min-height: 1024px;
	min-width: 768px;
}
div#background-left {
	position: fixed;
	background: url('../resimler/background.png');
	height: 100%;
	width: 50%;
	left: 0;
	background-color: #e6ebf2;
	z-index: -1;
}
div#background-right {
	position: fixed;
	background: url('../resimler/background.png');
	height: 100%;
	width: 50%;
	right: 0;
	background-color: #eec3dd;
	z-index: -1;
}
div#wrapper {
	position: absolute;
	margin: 2% 10%;
	border-radius: 10px;
	height: 96%;
	min-height: 1024px;
	width: 80%;
	min-width: 768px;
	background: #f6f6f6;
	opacity: .9;
	}
div#left-container {
	padding-top: 10px;
	position: absolute;
	float: left;
	width: 320px;
}
div#right-container {
	padding-top: 10px;
	position: absolute;
	float: right;
	left: 320px;
	width: 725px;
}
div#hakkimizda {
background: #9043a1;
border-radius:10px;
padding:10px;
color:#E0EF60;
width: 670px;
min-height: 200px;

}
 
div#hakkimizda img {
	float: right;
	border-radius:10px;
}
div#iletisim {
color:#E0EF60;
background: #9043a1;
border-radius:10px;
width:670px;
min-height:200px;
padding:10px;

}
div#iletisim table {
margin-left:50px;
margin-top:20px;
color:#E0EF60;

}
div#header {
	height: 150px;
	background: url('../resimler/headerbg.png');
	background-repeat: no-repeat;
	background-position: 270px;
	border-radius: 10px;
}

div#logo {
	width: 270px;
	height: 150px;
	background-image: url('../resimler/logo.png');
}

div#nav-container {
	height: 50px;
	border-radius: 5px;
	background: #9043a1;
}
div#nav-container  ul {
	margin-left: 280px;
	margin-top: 5px;
	display:inline-block;
}
div#nav-container  ul  li {
	padding: 10px;
	display:inline-block;
}
div#nav-container  ul li a{
	color: #E0EF60;
	font-weight: bold;
	text-decoration: none;
}
div#nav-container  ul li a:hover{
	color: #EEF7A6;
	text-decoration: underline;
}
div#nav-container  ul li ul {
	background-color: #B265C4;
	border-bottom:1px solid #9043a1;
	border-radius: 10px;
	display: none;
	position: absolute;
	margin-left: -20px;
	z-index: 1;
}
div#nav-container  ul li ul li {
	display: block;
}
div#nav-container  ul li.parent:hover ul {
	display: block;
}
div#kategoriler {
	padding: 5px;
	margin: 5px;
	max-width: 270px;
	border-radius: 10px;
	background: #9043a1;
}
div#kategoriler ul {
	padding: 5px;
}
div#kategoriler ul li{
	font-size: 12pt;
	padding: 5px;
	display: block;
}
div#kategoriler ul  li a {
	color: #E0EF60;
	font-weight: bold;
	text-decoration: none;
}
div#kategoriler ul li a:hover {
	color: #EEF7A6;
	text-decoration: underline;
}
div#alt{
font-weight:bold;
color:#E0EF60;
position: absolute;
background:#9043a1;
width:100%;
border-radius:10px;
bottom: 0px;
text-align:center;
padding: 10px 0;
}
span.copyright  {
vertical-align: center;
}